<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.form_errors_occurred') %></h2>
      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_name %>
    <%= f.text_field :site_name %>
  </div>
  <div class="field">
    <%= f.label :site_url %>
    <%= f.text_field :site_url %>
  </div>
  <div class="field">
    <%= f.label :date_posted %>
    <%= f.date_select :date_posted %>
  </div>
  <div class="field">
    <%= f.label :last_updated %>
    <%= f.date_select :last_updated %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
