<h2><%= t('general.listing') + ' ' + t('names.ads') %></h2>

<table class="table table-striped">
  <tr>
    <th><%= t('helpers.label.ad.site_name') %></th>
    <th><%= t('helpers.label.ad.site_url') %></th>
    <th><%= t('helpers.label.ad.date_posted') %></th>
    <th><%= t('helpers.label.ad.last_updated') %></th>
    <th><%= t('helpers.label.ad.notes') %></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.site_name %></td>
    <td><%= ad.site_url %></td>
    <td><%= ad.date_posted %></td>
    <td><%= ad.last_updated %></td>
    <td><%= ad.notes %></td>
    <td><%= link_to t('general.edit'), edit_ad_path(ad) %></td>
		<td><%= button_to t('general.delete'), ad, :method => :delete, :confirm => t('question.confirm_delete') %></td>
  </tr>
<% end %>
</table>

<br />

<div class="clearfix">
	<%= link_to t('general.new') + ' ' + t('names.ad'), new_ad_path %>
</div>
