<h1>Listing ads</h1>

<table class="table">
  <tr>
    <th>Site name</th>
    <th>Site url</th>
    <th>Date posted</th>
    <th>Last updated</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.site_name %></td>
    <td><%= ad.site_url %></td>
    <td><%= ad.date_posted %></td>
    <td><%= ad.last_updated %></td>
    <td><%= ad.notes %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
