<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('helpers.label.ad.site_name') %></strong>
  <%= @ad.site_name %>
</p>

<p>
  <strong><%= t('helpers.label.ad.site_url') %></strong>
  <%= @ad.site_url %>
</p>

<p>
  <strong><%= t('helpers.label.ad.date_posted') %></strong>
  <%= @ad.date_posted %>
</p>

<p>
  <strong><%= t('helpers.label.ad.last_updated') %></strong>
  <%= @ad.last_updated %>
</p>

<p>
  <strong><%= t('helpers.label.ad.notes') %></strong>
  <%= @ad.notes %>
</p>


<%= link_to t('general.edit'), edit_ad_path(@ad) %> |
<%= link_to t('general.back'), ads_path %>
