<h2><%= t('general.listing') + ' ' + t('names.jobs') %></h2>

<table class="table table-striped">
  <tr>
    <th><%= t('helpers.label.job.company_name') %></th>
    <th><%= t('helpers.label.job.application_date') %></th>
    <th><%= t('helpers.label.job.compensation') %></th>
    <th><%= t('helpers.label.job.recruiter_id') %></th>
    <th><%= t('helpers.label.job.notes') %></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.company_name %></td>
    <td><%= job.application_date %></td>
    <td><%= job.compensation %></td>
    <td><%= job.recruiter.name unless job.recruiter.nil? %></td>
    <td><%= job.notes %></td>
		<% if can? :update, job %>
    	<td><%= link_to t('general.edit'), edit_job_path(job) %></td>
		<% end %>
		<% if can? :destroy, job %>
		<td><%= button_to t('general.delete'), job, :method => :delete, :confirm => t('question.confirm_delete') %></td>
		<% end %>
		
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Job %>
	<div class="clearfix">
		<%= link_to t('general.new') + ' ' + t('names.job'), new_job_path %>
	</div>
<% end %>
