<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('helpers.label.job.company_name') %></strong>
  <%= @job.company_name %>
</p>

<p>
  <strong><%= t('helpers.label.job.application_date') %></strong>
  <%= @job.application_date %>
</p>

<p>
  <strong><%= t('helpers.label.job.compensation') %></strong>
  <%= @job.compensation %>
</p>

<p>
  <strong><%= t('helpers.label.job.recruiter') %></strong>
  <%= @job.recruiter_id %>
</p>

<p>
  <strong><%= t('helpers.label.job.notes') %></strong>
  <%= @job.notes %>
</p>


<%= link_to t('general.edit'), edit_job_path(@job) %> |
<%= link_to t('general.back'), jobs_path %>
