<% title 'Job Probe' -%>

	<ul class="nav nav-pills nav-stacked">
<% if user_signed_in? -%>
		<li><%= link_to 'Jobs', jobs_path %></li>
		<li><%= link_to 'Recruiters', recruiters_path %></li>
		<li><%= link_to 'Ads', ads_path %></li>
		<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
<% else -%>
		<li><%= link_to 'Log in', new_user_session_path %></li>
	  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end -%>
	</ul>
