<h2>Listing recruiters</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Resume submission date</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recruiters.each do |recruiter| %>
  <tr>
    <td><%= recruiter.name %></td>
    <td><%= recruiter.resume_submission_date %></td>
    <td><%= recruiter.notes %></td>
    <td><%= link_to 'Edit', edit_recruiter_path(recruiter) %></td>
		<td><%= button_to t('general.delete'), recruiter, :method => :delete, :confirm => t('question.confirm_delete') %></td>
  </tr>
<% end %>
</table>

<br />

<div class="clearfix">
	<%= link_to 'New Recruiter', new_recruiter_path %>
</div>
