<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('helpers.label.recruiter.name') %></strong>
  <%= @recruiter.name %>
</p>

<p>
  <strong><%= t('helpers.label.recruiter.resume_submission_date') %></strong>
  <%= @recruiter.resume_submission_date %>
</p>

<p>
  <strong><%= t('helpers.label.recruiter.notes') %></strong>
  <%= @recruiter.notes %>
</p>


<%= link_to t('general.edit'), edit_recruiter_path(@recruiter) %> |
<%= link_to t('general.back'), recruiters_path %>
